<div class="login-component-wrap">

    <div class="login-component">
        <h3>Vehicle Driver Acount Book</h3>
        <h3>Login</h3>

        <div class="input-text">
            <mat-form-field appearance="outline">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="First Name" type="text"  (keyup)="handelUsername($event)">

            </mat-form-field>
        </div>
        
        <div class="input-text">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password"  (keyup)="handelPassword($event)">
            </mat-form-field>
        </div>
      
        <!-- <div class="check">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="admin" (change)="radioChange($event)">Admin</mat-radio-button>
                <mat-radio-button value="customer" (change)="radioChange($event)">Customer</mat-radio-button>
            </mat-radio-group>
        </div> -->
        <div class="btn"> 
            <button mat-button color="primary"   (click)="handelSignup()">Create New Acount</button>
    
            <button mat-raised-button color="primary"  (click)="handelLogin()">Login</button>
        </div>


    </div>

</div>