<div class="dashboard-container-wrap">
    <div class="dashboard-container">
        <div class="side-container-wrap">
            <ul class="side-container" id="mydiv">
                <li class="listMenuChild active">Booking</li>
                <li class="listMenuChild" (click)="handelDriver()">Driver</li>
                <li class="listMenuChild" (click)="handelVechile()">Vehicle</li>
            </ul>

        </div>
        <div class="main-container-wrap">
            <div class="main-container">
                <div class="heading_wrap">
                    <div class="heading">Booking Data</div>
                    <div class="heading">
                        <button *ngIf="role === 'admin'" type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Add Booking
                        </button>

                    </div>
                </div>
                <table>
                    <tr>

                        <th>Booking_ID</th>
                        <th>Vehicle</th>
                        <th>Driver</th>
                        <th>TripFare</th>
                        <th>Distance</th>
                        <th *ngIf="role === 'admin'">Edit</th>
                        <!-- <th>Delete</th> -->
                    </tr>
                    <tr *ngFor="let datas of bookingsData ;let i = index">
                        <td>{{datas.bookingID}}</td>
                        <td>{{datas.vehicle}}</td>
                        <td>{{datas.driver}}</td>
                        <td>{{datas.tripFare}}</td>
                        <td>{{datas.distance}}</td>
                        <td *ngIf="role === 'admin'" class="edit"  style="cursor:pointer;">
                            <mat-icon data-bs-toggle="modal"
                            (click)="updatebookingdata(datas)"
                            data-bs-target="#exampleModalupdate">edit</mat-icon>
                        </td>
                        <!--  (click)="updatevehicledata(datas) -->
                        <!-- <td (click)="deleteBookingdata(datas)" style="cursor:pointer;">
                            <mat-icon>delete</mat-icon>
                        </td> -->
                    </tr>

                </table>
            </div>

        </div>

    </div>
</div>
<div class="model_outer_contain">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Booking</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="input-text">
                        <mat-form-field appearance="outline">
                            <mat-label>Booking ID</mat-label>
                            <input matInput placeholder="Booking ID" type="text"
                                (keyup)="handelBooking_No($event)">

                        </mat-form-field>
                    </div>
                    <div class="input-text">
                        <mat-form-field appearance="outline">
                            <mat-label>Vehicle</mat-label>
                            <input matInput placeholder="Vehicle" type="text" 
                                (keyup)="handelVehicle($event)">

                        </mat-form-field>
                    </div>
                    <div class="input-text">
                        <mat-form-field appearance="outline">
                            <mat-label>Driver</mat-label>
                            <input matInput placeholder="Driver" type="text" 
                                (keyup)="handelDrivers($event)">

                        </mat-form-field>
                    </div>
                    <div class="input-text">
                        <mat-form-field appearance="outline">
                            <mat-label>Trip Fare</mat-label>
                            <input matInput placeholder="Trip Fare" type="text"
                                (keyup)="handelTriFare($event)">

                        </mat-form-field>
                    </div>
                    <div class="input-text">
                        <mat-form-field appearance="outline">
                            <mat-label>Distance</mat-label>
                            <input matInput placeholder="Distance" type="text" 
                                (keyup)="handelDistance($event)">
                        </mat-form-field>
                    </div>
                    <button type="button" class="btn btn-primary " data-bs-dismiss="modal" aria-label="Close" (click)="handelAddBooking()">
                        Add Booking
                    </button>


                </div>

            </div>
        </div>
    </div>
</div>

<div class="model_outer_contain">
    <div class="modal fade" id="exampleModalupdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Booking</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <div class="input-text">
                        <mat-form-field appearance="outline">
                            <mat-label>Booking No</mat-label>
                            <input matInput placeholder="Registration_No" type="text"
                            [(ngModel)]="BookingIDU">

                        </mat-form-field>
                    </div>
                    <div class="input-text">
                        <mat-form-field appearance="outline">
                            <mat-label>Vehicle</mat-label>
                            <input matInput placeholder="Model_Name" type="text" 
                            [(ngModel)]="VehicleU">
                                <!-- (keyup)="handelVehicleU($event)"> -->

                        </mat-form-field>
                    </div>
                    <div class="input-text">
                        <mat-form-field appearance="outline">
                            <mat-label>Driver</mat-label>
                            <input matInput placeholder="Vehicle_Type" type="text" 
                            [(ngModel)]="DriverU">

                        </mat-form-field>
                    </div>
                    <div class="input-text">
                        <mat-form-field appearance="outline">
                            <mat-label>Trip Fare</mat-label>
                            <input matInput placeholder="Number_Of_Seat" type="text"
                            [(ngModel)]="TriFareU">

                        </mat-form-field>
                    </div>
                    <div class="input-text">
                        <mat-form-field appearance="outline">
                            <mat-label>Distance</mat-label>
                            <input matInput placeholder="AC_Available" type="text" 
                            [(ngModel)]="DistanceU">

                        </mat-form-field>
                    </div>
                    <button type="button" class="btn btn-primary " data-bs-dismiss="modal" aria-label="Close" 
                        (click)="handelUpdateBooking()">
                        Update Booking
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>